body{
font-family: 'DM Sans', sans-serif;
color: #901c1c;
}

header{
display: flex;
}

img.logo{
width: 250px;
}

nav{
align-self: center;
}

ul{
display: flex;
list-style-type: none;
}

/* Responsive header, nav + h1 */

@media screen and (max-width:1339px){
    header{
    flex-direction: column;
    }
    li{
    margin: 5px !important;
    }
    ul{
    width: 400px;
    flex-flow: wrap;
    justify-content: center;
    padding-inline-start: 0;
    }
}

@media screen and (max-width:560px){
    img.logo {
        width: 200px;
    }
    h1{
        font-size: 1.1em;
        top: 2% !important;
    }
}

li, span{
margin: 0 5px 0 5px;
padding: 0 1.5% 0 1.5%;
border: 1px solid #ccc;
border-radius: 20px;
}

li:hover, li:focus{
    background-color: #901c1c;
    color: white;
}

h1{
position: absolute;
top: 1%;
right: 2%;
}

section{
display: flex;
flex-wrap: wrap;
margin: 5%;
}

article{
text-align: center;
width: 33%;
margin: 5% 0 5% 0;
}

a{
text-decoration: none;
}

img.photographer{
width: 200px;
height: 200px;
border-radius: 50%;
-webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
-moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

h2{
color: #d3573c;
}

p.citation{
color: black;
font-size: 90%;
line-height: 0.3;
}

p.priceperday{
color: #525252;
font-size: 90%;
}

