body {
  font-family: "DM Sans", sans-serif;
  color: #901c1c;
}

header {
  display: flex;
  margin: auto;
  width: 90%;
}

img.logo {
  width: 250px;
}

button#open-form-responsive {
  display: none;
  visibility: hidden;
}

section#photographer-profile {
  background-color: #fafafa;
  width: 85%;
  margin: auto;
  padding: 2%;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

#filters {
  display: flex;
  width: 88%;
  align-items: center;
  padding-top: 1%;
  margin: auto;
  color: black;
}

#filters > p {
  margin-right: 10px;
  font-size: 100%;
  font-weight: bold;
}

.dropdown {
  list-style: none;
  position: relative;
  border: 1px solid #901c1c;
  background-color: #901c1c;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 250px;
  height: 41px;
  cursor: pointer;
  padding: 0;
}
.dropdown__arrow {
  color: white;
  position: absolute;
  right: 10px;
  top: 50%;
  transition: transform 0.2s linear;
}
.dropdown__arrow.expanded {
  transform: rotate(-180deg);
}
path {
  fill: white;
}
.dropdown__list {
  width: 100%;
  position: absolute;
  left: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: opacity 0.1s cubic-bezier(0, 0, 0.38, 0.9),
    max-height 0.5s cubic-bezier(0, 0, 0.38, 0.9);
  max-height: 0;
  overflow: hidden;
  opacity: 0;
}
.dropdown__list-container {
  position: relative;
}
.dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.dropdown__list-item {
  font-family: Lato, sans-serif;
  padding: 10px 0px;
  padding-left: 15px;
  transition: background-color 0.1s linear, color 0.1s linear;
  list-style-position: inside;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dropdown__list-item:hover,
.dropdown__list-item:focus {
  background-color: #db8877;
  color: black;
}
hr {
  margin-block-start: 0;
  margin-block-end: 0;
  width: 90%;
}
#dropdown__selected {
  padding: 10px 0px;
  padding-left: 15px;
  list-style-position: inside;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80%;
  color: white;
  background-color: #901c1c;
}
.open {
  opacity: 1;
  overflow: auto;
  max-height: 15rem;
  background-color: #901c1c;
  color: white;
}

h1 {
  color: #d3573c;
  font-size: 2.5em;
  margin-bottom: -3%;
}

p.citation {
  color: #706a6a;
  font-size: 90%;
  line-height: 0.3;
  margin-bottom: 7%;
}

article.contact {
  margin: 3.5% 25% 0 0;
}

article.image {
  margin-right: 2%;
  margin-top: 3%;
}

span {
  margin-right: 5px;
  padding: 0 1.5% 0 1.5%;
  border: 1px solid #ccc;
  border-radius: 20px;
}

span:hover,
span:focus {
  background-color: #901c1c;
  color: white;
}

#btn-open-modal,
input.btn-submit{
  font-family: "DM Sans";
  font-size: 100%;
  font-weight: bold;
  background-color: #901c1c;
  color: white;
  border: 1px solid #901c1c;
  border-radius: 5px;
  padding: 10%;
  width: 150px;
}

#btn-open-modal:hover,
#btn-open-modal:focus {
  background-color: #db8877;
  border: 1px solid #db8877;
  color: black;
}

.like {
  color: #901c1c;
  background: none;
  border: none;
  padding: 0;
  width: 0;
  margin-left: 5px;
}

.like:hover,
.like:focus {
  transform: scale(1.01);
  background-color: none;
  border: none;
  color: #6b1515;
}

#total-likes {
  position: fixed;
  bottom: 0;
  right: 100px;
  background-color: #db8877;
  width: 280px;
  height: 50px;
  color: black;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

h3 {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  margin-top: 15px;
}

.icon {
  margin-left: -55px !important;
}

img.photographer {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

#photographer-medias {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
}

.photoItem,
.photoVideo {
  margin: 2%;
}

.photoVideo {
  width: 313px;
  height: 351px;
}

img.image {
  width: 313px;
  height: 280px;
  border-radius: 5px;
}

article.details-image,
article.details-likes {
  display: flex;
}

article.details-image {
  justify-content: space-between;
}

article.details-image > p {
  font-size: 110%;
}

article.details-likes {
  margin-right: 18px;
}

#form-modal {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 33.3%;
  overflow: auto;
  border-radius: 10px;
  background-color: #db8877;
  color: #312e2e;
  padding: 0 2% 0 2%;
  -webkit-box-shadow: 0px 0px 9px -2px #ccc;
  box-shadow: 0px 0px 9px -2px #ccc;
}

button#close-modal {
  border: none;
  background-color: transparent;
  padding: 0;
  width: 0;
  display: block;
  position: absolute;
  top: 15px;
  right: 60px;
}

button#close-modal:focus,
button#close-modal:hover {
  transform: scale(1.05);
}

#form-modal > h1 {
  font-weight: 300;
  color: black;
  margin-block-start: 15px;
  margin-block-end: 0;
}

form {
  margin: 5% 0 5% 0;
  padding: 0;
  color: #312e2e;
}

label {
  font-size: 125%;
}

textarea {
  height: 150px !important;
}

input,
textarea {
  border: 1px solid transparent;
  border-radius: 5px;
  width: 99%;
  margin-bottom: 3%;
}

input {
  height: 30px;
}

input.btn-submit {
  height: 50px;
  margin-top: 3%;
  padding: 2% !important;
}

input.btn-submit:focus,
input.btn-submit:hover {
  transform: scale(1.05);
  background-color: #751f17;
}

/* Classes pour gestion des erreurs/validation des entrées dans le formulaire */

.message-error {
  margin-right: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  color: #ccc;
}

.message-error:hover,
:focus {
  background-color: none;
  color: none;
}

#msg-success {
  display: none;
  position: absolute;
  left: 50%;
  bottom: 5%;
}

/* Lightbox */

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #ccc;
  padding: 1px;
}

::-webkit-scrollbar-thumb {
  background: #9ca2b0;
  border-radius: 4px;
}

.lightbox::-webkit-scrollbar-track {
  background: black;
}

.lightbox::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 10;
  overflow: auto;
  animation: lightboxIn 0.5s;
  transition: opacity 0.3s;
}
.lightbox.fadeOut {
  opacity: 0;
}
.lightbox__next,
.lightbox__prev {
  border: none;
  background: url(../assets/arrow.svg) center center / 16px 28px no-repeat;
  width: 60%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  margin-top: -14px;
  z-index: 11;
}
.lightbox__prev {
  right: auto;
  left: 0;
  transform: rotate(180deg);
}
.lightbox__close {
  width: 30px;
  height: 30px;
  border: none;
  background: url('data:image/svg+xml;utf8,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.5 2.64275L13.3573 0.5L8 5.85725L2.64275 0.5L0.5 2.64275L5.85725 8L0.5 13.3573L2.64275 15.5L8 10.1427L13.3573 15.5L15.5 13.3573L10.1427 8L15.5 2.64275Z" fill="brown"/></svg>')
    center center / 100% 100% no-repeat transparent;
  position: fixed;
  top: 40px;
  right: 28.5%;
  z-index: 12;
}
.lightbox button {
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.3s;
  text-indent: -3000px;
}
.lightbox button:hover, .lightbox button:focus {
  background-color: none;
  outline: none;
  opacity: 1;
}
.lightbox__container img {
  width: 35%;
  height: auto;
  animation: lightboxIn 0.5s;
}
.lightbox__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
  min-height: 100vh;
}
.lightbox__loader {
  width: 38px;
  height: 38px;
  opacity: 0.5;
  background: url(../assets/loader.svg) center center no-repeat;
}

@keyframes lightboxIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Partie responsive */

@media screen and (max-width: 1050px) {
  article.contact {
    margin: 3.5% 0 0 0 !important;
  }
  #form-modal {
    width: 50%;
  }
}

@media screen and (max-width: 780px) {
  button#btn-open-modal {
    display: none;
    visibility: hidden;
  }
  button#open-form-responsive {
    font-family: "DM Sans";
    position: fixed;
    display: block;
    visibility: visible;
    width: max-content;
    padding: 1% 3% 1% 3%;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 1.02px;
    border-radius: 5px;
    font-size: 100%;
    font-weight: bold;
    background-color: #901c1c;
    color: white;
    border: 1px solid #901c1c;
  }
  #open-form-responsive:hover, #open-form-responsive:focus{
  background-color: #db8877;
  border: 1px solid #db8877;
  color: black;
  }
  #form-modal {
    width: 70%;
    padding: 2%;
  }
  #form-modal > h1 {
    font-size: 2em;
  }
  input.btn-submit {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #msg-success {
    left: 35%;
    bottom: -10px;
  }
  section#photographer-profile {
    background-color: transparent !important;
  }
  img.image,
  video {
    width: 100% !important;
    height: 85% !important;
  }
  article.image {
    position: absolute;
    right: 5px;
    top: 135px;
  }
  img.photographer {
    width: 150px !important;
    height: 150px !important;
  }
  #total-likes {
    display: none;
    visibility: hidden;
  }
  .lightbox__container img{
    width: 70%;
  }
  .lightbox__next, .lightbox__prev{
    width: 10%;
  }
  .lightbox__close{
    top: 85px;
    right: 3.5%;
  }
}

@media screen and (max-width: 560px) {
  article.image {
    right: 5px;
    top: 90px;
  }
  img.logo {
    width: 200px;
  }
  h1 {
    font-size: 1.5em;
    top: 2% !important;
  }
  #form-modal > h1 {
    font-size: 1.75em;
  }
  img.photographer {
    width: 125px !important;
    height: 125px !important;
  }
}

@media screen and (max-width: 450px) {
  body{
    margin: 0;
  }
  header, #photographer-profile{
    margin: 0 !important;
  }
  #filters{
    display: none;
  }
  img.photographer {
    width: 100px !important;
    height: 100px !important;
  }
  .lightbox__container img{
    width: 100%;
  }
  .lightbox__next, .lightbox__prev{
    width: 10%;
  }
  .lightbox__close{
    top: 85px;
    right: 3.5%;
  }
  #form-modal > h1 {
    font-size: 1.5em;
  }
  button#open-form-responsive {
    font-size: 125%;
  }
  button#close-modal {
    right: 45px;
  }
}
